<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <div class="container">
    <a href="../" class="navbar-brand">Vault Dapp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link">Info</a>
        </li>
      </ul>
    </div>
  </div>
</div>

  <div class="container">
    <div class="bs-docs-section">
      <router-outlet></router-outlet>
    </div>
  </div>

  <footer  class="py-4 bg-light text-primary text-center flex-shrink-0">
      <div class="container">
        <h6 *ngIf="router.url === '/vault/eth' || router.url === '/vault/dai'"><i class="fas fa-circle text-success"></i>&nbsp; DEMO &nbsp;Connected Wallet: 0x005</h6>
      </div>
  </footer>

